{% extends "admin/base_site.html" %}
{% block content %}
<div id="content-main">
  <h1>Reorder product media</h1>
  <p>Use Ctrl/Command-click to select all images in the desired top-to-bottom order.</p>
  <form method="post">{% csrf_token %}
    <select name="order" multiple size="10" style="min-width:30em">
      {% for image in images %}<option value="{{ image.pk }}">{{ image.alt_text }} ({{ image.pk }})</option>{% endfor %}
    </select>
    <div class="submit-row"><input type="submit" value="Save order" class="default"></div>
  </form>
</div>
{% endblock %}
